- content_for :title do
  Categories Index

%ul.index
  %div.banner
    %div.index_banner
      %h2 Categories
      %a{href: "/categories/new"} New Category

  - @categories.each do |category|
    %li
      %a{href: "/categories/#{category.id}"}= category.name
