body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/*----------------------------HEADER----------------------------------*/
header {
  display: flex;
  align-items: center;
}

.links {
  flex-grow: 2;
  font-size: 1.5em;
}

.links ul {
  list-style: none;
  display: flex;
}

.links li {
  margin-right: 2em;
}

.links a {
  text-decoration: none;
  color: #727472;
}

.links a:hover {
text-shadow: -1px 1px 0 #fba43e;
}

.search {
  margin-right: 2em;
  background-color: #fba43e;
  padding: 1em 0.9em 1em 1.5em;
  border-radius: 0.4em;
}

.search form {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  border: none;
  height: 1.5em;
}

.search input[type="submit"] {
  display: none;
}

.search input[type="submit"] + span {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  margin-left: 0.8em;
  background-image: url("/images/Search-icon.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

/*-------------------------------------MAIN GALLERY-----------------------*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-size: 1.2em;
  color: #727472;
}

/*----------------------------------PAGE BANNER-----------------------------*/
div.banner {
  text-align: left;
  border-bottom: 1px solid #fba43e;
}

.index_banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery .index_banner a {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  background-image: url("/images/add.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: transparent;
  border: 2px solid transparent;
  margin-right: -0.2em;
}

.gallery .index_banner a:hover {
  text-shadow: none;
  border: 2px solid #fba43e;
}

.gallery h2 {
  margin: 0 2em 0 0;
}

.gallery ul {
  list-style: none;
}


.gallery a {
  text-decoration: none;
  color: #fba43e;
}

.gallery a:hover {
  text-shadow: -1px 1px #727472;
}

.author_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.author_link p {
  margin: 0;
}

.author_link a {
  margin-top: none;
}

/*------------------------INDEX-------------------*/
ul.index {
  list-style: none;
}

.index li {
  margin-top: 0.8em;
  font-size: 1.5em;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index a {
  margin-right: 0.5em;
}

.edit_delete {
  display: flex;
  align-items: center;
}

.edit_delete input{
  display: none;
}

.edit_delete input[value="Edit"] + span {
  width: 0.6em;
  height: 0.6em;
  display: inline-block;
  background-image: url("/images/Crayon-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 0.5em;
  border: 2px solid transparent;
}

.edit_delete input[value="Edit"] + span:hover {
  border: 2px solid #fba43e;
  border-radius: 50%;
}

.edit_delete input[value="Delete"] + span {
  width: 0.7em;
  height: 0.7em;
  display: inline-block;
  background-image: url("/images/trash.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid transparent;
}

.edit_delete input[value="Delete"] + span:hover {
  border: 2px solid #fba43e;
  border-radius: 50%;
}

/*--------------------SHOW--------------------*/

strong {
  color: #fba43e;
}

h3 {
  border-bottom: 1px solid #fba43e;
  font-size: 1.8em;
}

.show_a_term {
  font-size: 1.6em;
}

/*--------------------------TERM CREATE------------------*/
.term_create {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.term_create label {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.term_create input[type="text"] {
  width: 25em;
}

.term_create textarea {
  width: 25em;
}

.category_checkboxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cat_with_box {
  display: flex;
  width: 28%;
  justify-content: space-between;
  align-items: center;
  margin-right: 2em;
}

.create_save {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.create_save input[type="submit"] {
  border: none;
  background-color: white;
  font-size: 1.2em;
  color: #fba43e;
}

.create_save input[type="submit"]:hover {
  text-shadow: -1px 1px #727472;
}
